<app-dashboard></app-dashboard>
<div class="add-bulk">
<!--  <label for="fileInput" class="file-label">-->
<!--    <span>Choose a File</span>-->
<!--    <input type="file" id="fileInput" class="file-input" multiple>-->
<!--  </label>-->
<!--  <form (submit)="onSubmit()" class="description">-->
<!--    <label for="w3review">Bulk data</label>-->
<!--    <textarea rows="7" cols="100"></textarea>-->
<!--  </form>-->

  <form (submit)="onSubmit()" enctype="multipart/form-data" class="attach">
    <label for="fileInput"><h2><strong>BULK DATA</strong></h2></label><br>
    <br>
    <input type="file" id="fileInput" name="files" multiple>
    <button type="submit" class="btn-primary">Add</button>
  </form>
</div>



