/** body {*/
/*  margin: 0px auto;*/
/*  padding: 20px;*/
/*}*/
/*.card{*/
/*  background-color: #ccccccff;*/
/*  border:1px solid #ccc;*/
/*  margin-top: 90px;*/
/*}*/
/*strong{*/
/*  color: rgb(238, 168, 155);*/
/*  margin-left: 119px;*/
/*  font-family: Verdana, Geneva, Tahoma, sans-serif;*/
/*}*/


.card{
  width:487px;
  height:582px;
  color:#fff;
  top:47%;
  left:50%;
  position: absolute;
  box-sizing: border-box;
  padding: 31px 40px;
  border:1px solid black;
  transform: translate(-50%,-50%);
  background: black;
  color: #fff;
}


/*!* Adjust form fields and error messages *!*/
/*.mb-2 {*/
/*  margin-bottom: 20px; !* Add some bottom margin to create space between fields *!*/
/*}*/

/*.form-control {*/
/*  width: 100%; !* Ensure form controls take up the full width *!*/
/*}*/

/*.text-danger {*/
/*  font-size: 14px; !* Adjust font size of error messages *!*/
/*}*/
