* {
  background-color: rgb(255, 251, 248);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 100px;
  margin-left: 300px;
}

th, td {
  padding: 6px;
  text-align: left;
  border: 1px solid #080808;
}

th {
  color: rgb(20, 16, 209);
}

tr:hover {
  background-color: #eceaea;

}

th, td {
  background-color:transparent;
}

tr {
  background-color:transparent;
}

/* Apply a basic style to buttons */


.user-list th {
 background-color: #f2f2f2;
}

.user-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*!* Styles for the clickable button icons *!*/
button {
background-color: transparent;
  border: none;
cursor: pointer;
/font-size: 1.2em;
margin-right: 5px;
}

button:hover {
color: red;
}
.edit {
  /*position: absolute;*/
  top: 40%;
  /*left: 50%;*/
  transform: translate(-1%, -50%);
  /*background-color: #f9f9f9;*/
  /*padding: 30px;*/
  /*border-radius: 5px;*/
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;




  background-color: #f9f9f9;
}

.edit label {
  display: block;
  margin-bottom: 20px;
}

.edit input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.edit button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit button:hover {
  background-color: #0056b3;
}

