
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <img src="../../assets/images-removebg-preview.png" height="80" width="100" class="img-img">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Home" routerLinkActive="active">Home</a></li>
<!--          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Dashboard" routerLinkActive="active">Dashboard</a></li>-->
          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Orders" routerLinkActive="active">Orders</a></li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Dashboard/Users" routerLinkActive="active">Users</a>
            <!-- Dropdown for User options -->
            <div class="menu">
              <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Add New" routerLinkActive="active">Add New</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Add Bulk" routerLinkActive="active">Add Bulk</a></li>
<!--              <li class="nav-item"><a routerLink="/Dashboard/Add Bulk">Add Bulk</a>-->
<!--              <a routerLink="/Dashboard/Add new">Add new</a>-->
            </div>
          </li>

          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Books" routerLinkActive="active">Books</a></li>

          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/" routerLinkActive="active">T&C</a></li>

          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/" routerLinkActive="active">Offers</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/Dashboard/Login" routerLinkActive="active">Logout</a></li>

          <li class="nav-item">
            <a class="nav-link" href="#"><span data-feather="file"></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><span data-feather="shopping-cart"></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><span data-feather="bar-chart-2"></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><span data-feather="layers"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

